/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  text-align: center;
}

span {
  display: block;
}

h2 {
  margin-top: 75px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
